@import "tailwindcss";

* {
  scrollbar-width: none;
}

:root {
  --foreground: oklch(11.83% 0.046 280.65);
  --background: oklch(94.64% 0.001 286.37);
  --card:Card: oklch(85% 0.01 286);
  --primary: oklch(57.97% 0.213 29.51);
  --secondary: oklch(53.54% 0.003 286.3);
  --accent: oklch(62.15% 0.253 28.67);
  --text-body: var(--color-neutral-500);
  --heading:"Poppins";
  --body:"Source Sans 3"
}

@theme {
  --breakpoint-xs: 360px;
  --breakpoint-xm: 404px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@theme{
  --font-heading:var(--heading);
  --font-body:var(--body)
}

@theme inline{
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-primary:var(--primary);
  --color-secondary:var(--secondary);
  --color-accent:var(--accent);
  --color-card:var(--card);
  --color-text-body:var(--text-body)

}

.dark{
  --color-foreground:oklch(94.04% 0.026 288.32);
  --color-background:oklch(17.81% 0.002 286.19);
  --color-card: oklch(27% 0.01 286)

}

body {
  letter-spacing: var(--tracking-normal);
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

