@import "tailwindcss";

@theme {
  --default-color-scheme: light;
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  scrollbar-width: none;
}


:root{
  --background:oklch(0.9571 0.004 63.08);
  /* --background:oklch(0.9215 0.004 133.45); */
  --foreground:oklch(0 0.004 360);
  

  --primary:oklch(0.7536 0.163659 50.4009);

  --muted:oklch(0.6333 0.004 360);

  /* for cards */
  --card:oklch(0.95 0.004 133.45);
   --color-card-hover:oklch(0.9235 0.004 133.45);
  /* --color-card-border: oklch(28% 0.01 262);  */
  --color-card-border:#000000; 


  --text-heading:oklch(0.0982 0.004 133.45);
  --text-body:oklch(0.2305 0 0);
  --text-muted:oklch(0.266 0 66.63)
}



.dark{
  /* --background:oklch(0.1831 0.004 285.99); */
  --background:oklch(0.2002 0 0);
  --foreground:oklch(0.8593 0.1017 73.9);

    /* for cards */
    --card:oklch(0.2147 0 0);
    --color-card-hover:oklch(0.9235 0.004 133.45);
}


@theme {
  --breakpoint-xs: 360px;
  --breakpoint-xm: 404px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;


  /* Background */
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-muted:var(--muted);
  
  /* Accent / Primary */
  --color-primary: var(--primary);

  /* Cards */
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-card-border:var(--card-border)
  
  /* fonts */
   --font-heading:var(--font-poppins);
   --font-body:var(--font-inter);


   /* Text */
  --color-text-heading:var(--text-heading);
  --color-text-body:var(--text-body);
  --color-text-muted: var(--text-muted);


  --color-bg-soft: oklch(22% 0.03 262);
  --color-bg-hover: oklch(28% 0.04 262);





  

  --color-primary-hover: oklch(66% 0.14 235);
  --color-primary-subtle: oklch(34% 0.08 235);

  /* Secondary Accent */
  --color-secondary: oklch(72% 0.16 45);

  /* Shadows */
  --shadow-soft: 0 4px 10px oklch(0% 0 0 / 0.4);
  --shadow-strong: 0 8px 20px oklch(0% 0 0 / 0.6);

  /* Success / Danger */
  --color-success: oklch(75% 0.14 145);
  --color-danger: oklch(65% 0.18 25);
}








body {
  letter-spacing: var(--tracking-normal);
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

