@import "tailwindcss";

:root {
  background: rgba(13, 13, 13, 1)
}




@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-secondary-btn-background: rgba(125, 95, 255, 0.15);
  --color-secondary-btn-text: rgba(125, 95, 255, 1);
  --color-secondary-btn-border: rgba(125, 95, 255, 0.4);
  --color-secondary-btn-hover: rgba(125, 95, 255, 0.8);
  --color-secondary-btn-active: rgba(125, 95, 255, 1);

}