name: "Check Linting"

on:
  push:
    branches:
      - master
      - production

jobs:
  lint-code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: "go inside backend folder"
        run: cd backend

      - name: "run eslint"
        run: npm run lint
