name: Deploy to production

on:
  push:
    branches:
      - production

jobs:
  deploy-code:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the image
        run: docker build -t rahuldocker974/backend_beatroom:${{ github.sha }} ./backend

      - name: Push to Docker
        run: docker push rahuldocker974/backend_beatroom:${{ github.sha }}

      - name: SSH into VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            if ! command -v docker &> /dev/null
            then
              echo "Docker not found. Installing..."
              apt update
              apt install -y docker.io
              systemctl start docker
              systemctl enable docker
            else
              echo "Docker already installed. Skipping installation."
            fi
            echo "NODE_ENV=${{secrets.NODE_ENV}}" >> .env
            echo "CROSS_ORIGIN_URL=${{secrets.CROSS_ORIGIN_URL}}" >> .env
            echo "DATABASE_URL=${{secrets.DATABASE_URL}}" >> .env
            echo "PORT=${{secrets.PORT_BACKEND}}" >> .env
            echo "OTP_SECRET=${{secrets.OTP_SECRET}}" >> .env
            echo "Ac_SECRET=${{secrets.Ac_SECRET}}" >> .env
            echo "Ref_SECRET=${{secrets.Ref_SECRET}}" >> .env
            echo "UINQUE_USERID_SECRET=${{secrets.UINQUE_USERID_SECRET}}" >> .env
            echo "EMAIL=${{secrets.EMAIL}}" >> .env
            echo "EMAIL_PASS=${{secrets.EMAIL_PASS}}" >> .env
            docker pull rahuldocker974/backend_beatroom:${{ github.sha }}
            docker stop backend || true
            docker rm backend || true

            docker run -d \
              -p 8080:8080 \
              --name backend \
              --env-file .env \
              --restart unless-stopped \
              rahuldocker974/backend_beatroom:${{ github.sha }}
